<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Date form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"></head>
</head>
<body>
<div class="container">
    <h2>Date format should be: dd-MM-yyyy</h2>
    <br>
    <form method="post" th:action="@{'/date'}" th:object="${imagineDate}">
        <div class="form-group row">
            <div class="col-md-4 mt-5">
                <label for="imaginedCurrentTime">Current Date</label>
                <div class="input-group date">
                    <input type="text" class="form-control" id="imaginedCurrentTime" autocomplete="off" th:field="*{imaginedCurrentTime}"/>
                    <small th:if="${#fields.hasErrors('imaginedCurrentTime')}"
                           th:errors="*{imaginedCurrentTime}">Date ERROR</small>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <label for="imaginedFinishTime">Finish date</label>
                <div class="input-group date">
                    <input type="text" class="form-control" id="imaginedFinishTime" autocomplete="off" th:field="*{imaginedFinishTime}"/>
                    <small th:if="${#fields.hasErrors('imaginedFinishTime')}"
                           th:errors="*{imaginedFinishTime}">Date ERROR</small>
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
</body>
</html>

